main.Main#Main
  .Main-container
    .Container-layout
      section.root
        h2 NUESTRAS OBRAS
        .root-item
          h3.root-item-text Ingeniería y proyectos industriales
          .Gallery-obras
            .Gallery-obras-item#modal1
              .Gallery-obras-item-text-hover
                li MANDANTE: EXPORTADORA PRIZE S.A.
                li FECHA: OCTUBRE 2017
                li TIEMPO DE EJECUCIÓN: 15 DÍAS
                li PESO ESTRUCTURA: 21.200 kgs
                li CARACTERÍSTICAS: GALPÓN SUPERFICIE 600 m2
              .Gallery-obras-item-img
                img(src="img/01-prize-osorno.jpg", alt="Packing Prize")
              .Gallery-obras-item-text
                p PACKING PRIZE OSORNO
            .Gallery-obras-item#modal2
              .Gallery-obras-item-text-hover
                li MANDANTE: DUOC UC
                li FECHA: MARZO 2018
                li TIEMPO DE EJECUCIÓN: 15 DÍAS
                li PESO ESTRUCTURA: 21.200 kgs
                li CARACTERÍSTICAS: GALPÓN SUPERFICIE 600 m2
              .Gallery-obras-item-img
                img(src="img/01-flesan.jpg", alt="Flesan DUOC")
              .Gallery-obras-item-text
                p SOSTENIMIENTO DUOC UC
            .Gallery-obras-item#modal3
              .Gallery-obras-item-text-hover
                li MANDANTE: SOFRUCO
                li FECHA: SEPTIEMBRE 2017
                li TIEMPO DE EJECUCIÓN: 1 MES
                li PESO ESTRUCTURA: 38.000 kgs
                li CARACTERÍSTICAS: SUPERFICIE GALPÓN 1200 m2
              .Gallery-obras-item-img
                img(src="img/01-sofruco.jpg", alt="Packing Sofruco")
              .Gallery-obras-item-text
                p PACKING SOFRUCO PEUMO
            .Gallery-obras-item#modal4
              .Gallery-obras-item-text-hover
                li MANDANTE: EXPORTADORA PRIZE S.A.
                li FECHA: AGOSTO 2018
                li TIEMPO DE EJECUCIÓN: 3 MESES
                li PESO ESTRUCTURA: 167.108 kgs
                li CARACTERÍSTICAS: SUPERFICIE GALPÓN 8.500 m2
              .Gallery-obras-item-img
                img(src="img/01-arandanos.jpg", alt="Galpón")
              .Gallery-obras-item-text
                p PACKING ARÁNDANOS CHILLAN
        .root-item
          h3.root-item-text Sostenimiento y refuerzos estructurales
          .Gallery-obras
            .Gallery-obras-item#modal5
              .Gallery-obras-item-text-hover
                li MANDANTE: DUOC UC
                li FECHA: DICIEMBRE 2017
                li TIEMPO DE EJECUCIÓN: 1 MES
                li PESO ESTRUCTURA: 87.500 kgs
                li CARACTERÍSTICAS: VIGAS IN DE 1000 A 200 mm DE LARGOS VARIABLES, 18 mts, 20 mts Y 28 mts
              .Gallery-obras-item-img
                img(src="img/01-calle18.jpg", alt="Contención de Muro")
              .Gallery-obras-item-text
                P REFUERZO DE MUROS CALLE
                p DIECIOCHO
            .Gallery-obras-item#modal6
              .Gallery-obras-item-text-hover
                li MANDANTE: FLESAN S.A.
                li FECHA: MAYO 2018
                li TIEMPO DE EJECUCIÓN: 20 DÍAS
                li PESO ESTRUCTURA: 21.300 kgs
                li CARACTERÍSTICAS: MONTAJE DE TUBOS YODER Y REFUERZOS DE MUROS
              .Gallery-obras-item-img
                img(src="img/01-general-jofre.jpg", alt="Grua")
              .Gallery-obras-item-text
                p REFUERZO GENERAL JOFRÉ
            .Gallery-obras-item#modal7
              .Gallery-obras-item-text-hover
                li MANDANTE: ENAC
                li FECHA: NOVIEMBRE 2018
                li TIEMPO DE EJECUCIÓN: 1 MES
                li PESO ESTRUCTURA: 10.557 kgs
                li CARACTERÍSTICAS: MONTAJE DE YODER Y VIGAS IN PARA EL REFUERZO DE MUROS ADYACENTES
              .Gallery-obras-item-img
                img(src="img/01-alameda.jpg", alt="Andamios")
              .Gallery-obras-item-text
                p REFUERZO DE MUROS ALAMEDA
        .root-item
          h3.root-item-text Edificación de proyectos habitacionales
          .Gallery-obras
            .Gallery-obras-item#modal8
              .Gallery-obras-item-text-hover
                li MANDANTE: CONSTRUCTORA PÉREZ COMPANG
                li ARQUITECTO: SMILIAN RADIJ
                li FECHA: DICIEMBRE 2017
                li TIEMPO DE EJECUCIÓN: 2 MESES
                li PESO ESTRUCTURA: 28.900 kgs
                li CARACTERÍSTICAS: VIVIENDA 505 m2
              .Gallery-obras-item-img
                img(src="img/01-damian.jpg", alt="San Damian")
              .Gallery-obras-item-text
                p CASA SAN DAMÍAN LAS CONDES
            .Gallery-obras-item#modal9
              .Gallery-obras-item-text-hover
                li MANDANTE: CONSTRUCTORA PÉREZ COMPANG
                li ARQUITECTO: FELIPE PINUER
                li FECHA: NIVIEMBRE 2017
                li TIEMPO DE EJECUCIÓN: 1,5 MESES
                li PESO ESTRUCTURA: 19.900 kgs
                li CARACTERÍSTICAS: OFICINAS Y AUDITORIOS 600 m2
              .Gallery-obras-item-img
                img(src="img/01-iglesia.jpg", alt="Iglesia")
              .Gallery-obras-item-text
                p IGLESIA CRISTIANA LAS CONDES
        .root-item
          h3.root-item-text Cubiertas y revestimientos
          p.root-item-text-prox Próximamente nuevos proyectos
    section.Lema-obras
      .Lema-obras-banner
        img(src="img/banner-obras.jpg")
      .Lema-obras-text
        p INTEGRIDAD - EXCELENCIA - CONFIANZA - EFICIENCIA
    include cont-form-map
