main.Main#Main
  .Main-container
    .Container-layout
      section.Descripcion-somos
        h2 QUIENES SOMOS
        p Seming Ltda. se fundó en junio 2017 cuando sus dueños, junto a un destacado grupo de profesionales del área de construcción, se propusieran entregar a sus clientes todo su ingenio, capacidad y experiencia en el rubro de la maestranza.
        p Gracias a la experiencia y altas competencias del equipo, el primer proyecto 'Altillo y oficinas' para la empresa Compresión SPA, se ejecutó cumpliendo tiempo y forma. La calidad de este trabajo, permitió ganar confianza para abordar proyectos de mayor dimensión. Esto significó un importante crecimiento del negocioo que obligó a redefinir y fortalecer la estructura de la empresa e instalar un modelo operativo y comercial moderno y profesional para la gestión de obras estructurales. Hoy, Seming cuenta con un variado portafolio de proyectos de todo tipo de envergadura, relacionados principalmente al rubro minero, industrial y habitacional, a lo largo de todo el país. Gracias nuestro profesionalismo y altos estándares de calidad, somos una alternativa real y confiable para todo tipo de proyecto empresarial.
    section.Banner-somos
      .Banner-somos-img
        img(src="img/bodega-somos.jpg", alt="Bodega Seming")
      .Banner-somos-text
        h2 NUESTRA VISIÓN
        p Ser reconocidos como la mejor maestranza en la relación precio-calidad en el rubro, consolidándose así nuestra presencia a nivel nacional
    section.Valores-somos
      p INTEGRIDAD - EXCELENCIA
        span -
      p CONFIANZA - EFICIENCIA
    include ../secciones/cont-form-map
