main.Main
  .Main-container
    .Container-layout
      section.root
        h2 NUESTRAS OBRAS
        .Gallery-obras
          .Gallery-obras-item#modal1
            .Gallery-obras-item-text-hover
              p Se construyó con la finalidad de almacenar arándanos. Su construcción de estructura sólida y protegida cumple con la finalidad de albergar los procesos de recepción y almacenaje
            .Gallery-obras-item-img
              img(src="img/01-flesan.jpg", alt="Flesan DUOC")
            .Gallery-obras-item-text
              h4 FLESAN
              p SOSTENIMIENTO DUOC UC
          .Gallery-obras-item#modal2
            .Gallery-obras-item-text-hover
              p Se construyó con la finalidad de almacenar arándanos. Su construcción de estructura sólida y protegida cumple con la finalidad de albergar los procesos de recepción y almacenaje
            .Gallery-obras-item-img
              img(src="img/01-ucentral.jpg", alt="Altillos U-Central")
            .Gallery-obras-item-text
              h4 UNIVERSIDAD CENTRAL
              p MONTAJE DE ALTILLOS
          .Gallery-obras-item#modal3
            .Gallery-obras-item-text-hover
              p Se construyó con la finalidad de almacenar arándanos. Su construcción de estructura sólida y protegida cumple con la finalidad de albergar los procesos de recepción y almacenaje
            .Gallery-obras-item-img
              img(src="img/01-iglesia.jpg", alt="Iglesia")
            .Gallery-obras-item-text
              h4 IGLESIA MARTÍN DE ZAMORA
              p LAS CONDES
          .Gallery-obras-item#modal4
            .Gallery-obras-item-text-hover
              p Se construyó con la finalidad de almacenar arándanos. Su construcción de estructura sólida y protegida cumple con la finalidad de albergar los procesos de recepción y almacenaje
            .Gallery-obras-item-img
              img(src="img/01-damian.jpg", alt="San Damian")
            .Gallery-obras-item-text
              h4 SAN DAMIÁN
              p CASA DE FIERROS
          .Gallery-obras-item#modal5
            .Gallery-obras-item-text-hover
              p Se construyó con la finalidad de almacenar arándanos. Su construcción de estructura sólida y protegida cumple con la finalidad de albergar los procesos de recepción y almacenaje
            .Gallery-obras-item-img
              img(src="img/01-sofruco.jpg", alt="Packing Sofruco")
            .Gallery-obras-item-text
              h4 PACKING SOFRUCO
              p PEUMO
          .Gallery-obras-item#modal6
            .Gallery-obras-item-text-hover
              p Se construyó con la finalidad de almacenar arándanos. Su construcción de estructura sólida y protegida cumple con la finalidad de albergar los procesos de recepción y almacenaje
            .Gallery-obras-item-img
              img(src="img/01-prize-osorno.jpg", alt="Packing Prize")
            .Gallery-obras-item-text
              h4 PACKING PRIZE
              p OSORNO
    section.Lema-obras
      .Lema-obras-banner
        img(src="img/banner-obras.jpg")
      .Lema-obras-text
        p INTEGRIDAD - EXCELENCIA - CONFIANZA - EFICIENCIA
    include cont-form-map
