.Banner-inicio{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 6rem;
  // border: 2px solid green;
  &-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-row: 1 / 3;
    grid-column: 1;
    & img{
      display: block;
    }
  }
  &-text{
    grid-row: 2;
    grid-column: 1;
    align-self: end;
    text-align: center;
    background-color: color(capaT);
    padding: .5rem 0;
    & p{
      color: white;
      font-weight: bold;
      font-size: 12px;
    }
    & p:first-child{
      padding-bottom: .3rem;
    }
  }
}

.Descripcion-inicio{
  // border: 1px solid green;
  width: 90%;
  margin: 1.3rem auto;
}

.Descripcion-inicio-text{
  text-align: center;
  & p{
    font-size: 12px;
    padding: 0 .3rem;
    letter-spacing: 0.1rem;
  }
  & p:first-child{
    margin-bottom: .7rem;
  }
}

.Iconos-inicio{
  // border: 2px solid rgb(145, 247, 145);
  width: 90%;
  margin: 2rem auto;
}

.Iconos-inicio-gallery{
  // border: 2px solid red;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.Iconos-inicio-card{
  text-align: center;
  // border: 1px solid black;
  &-img{
    width: 4rem;
    margin: auto;
    margin-bottom: .5rem;
    // border: 1px solid red;
    & img{
      display: block;
    }
  }
  &-text{
    // border: 2px solid yellow;
    color: color(text);
    & h4, p{
      font-size: 16px;
      font-weight: 800;
      letter-spacing: 0.06rem;
    }
    & p{
      font-size: 12px;
    }
  }
}

.Obras-inicio{
  // border: 2px solid green;
  & h2{
    font-family: $fuente-especial;
    font-style: normal;
    text-align: center;
    font-size: 20px;
    letter-spacing: .1rem;
    padding: 1rem 0;
    font-weight: 500;
    position: relative;
    z-index: capa(capa3);
    &:before{
      content: "";
      position: absolute;
      top: 50%;
      left: 5%;
      z-index: 1;
      width: 15%;
      height: 1px;
      background-color: #c4c4c4;
    }
    &:after{
      content: "";
      position: absolute;
      top: 50%;
      right: 5%;
      z-index: 1;
      width: 15%;
      height: 1px;
      background-color: #c4c4c4;
    }
  }
}

.Obras-gallery{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.Obras-inicio-card{
  // border: 1px solid greenyellow;
  &-img img{
    display: block;
  }
}

.Obras-inicio-btn{
  // border: 1px solid red;
  width: 85%;
  margin: 1rem auto 2rem;
  text-align: center;
  & button{
    @include boton-link;
    & span{
      position: absolute;
      right: 5%;
    }
  }
}

.Contactanos-inicio{
  background-color: color(background-sociales);
  color: white;
  &-container{
    // border: 2px solid red;
    width: 90%;
    margin: auto;
    padding: 2rem 0;
    & h4{
      padding: .5rem 0;
      font-family: $fuente-especial;
      font-style: normal;
      font-size: 20px;
      letter-spacing: .1rem;
      font-weight: 500;
    }
    & p{
      font-size: 14px;
    }
    & p:nth-child(odd){
      margin: 1.5rem auto;
    }
  }
}

.Contactanos-inicio-btn{
  // border: 1px solid red;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  & button{
    background-color: color(background-sociales);
    width: 48%;
    height: 2.3rem;
    max-width: 17rem;
    color: white;
    border: 1px solid white;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: .1rem;
    padding: .5rem;
    border-radius: 5rem;
    cursor: pointer;
  }
}

.Habitissimo{
  background-image: img('habiti.svg');
  background-position: center 40%;
  background-size: 75%;
  background-repeat: no-repeat;
}

.Linkedin{
  background-image: img('ico-linkedin.png');
  background-position: center center;
  background-size: 60%;
  background-repeat: no-repeat;
}

.Formulario-inicio{
  // border: 1px solid red;
  background-color: color(background-formulario);
  padding: 2rem 0;
  &-content{
    width: 85%;
    margin: auto;
  }
}

.Form-inicio{
  // border: 2px solid green;
  &-item{
    // border: 1px solid blue;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2,minmax(min-content, max-content));
    position: relative;
    & label{
      font-size: 12px;
      padding: 3px;
    }
    & input, textarea{
      border: transparent;
      border-radius: 3px;
      margin-bottom: .5rem;
      padding: .5rem;
      outline-color: color(text-footer);
    }
    & textarea{
      height: 8rem;
      margin-bottom: 1.2rem;
    }
    & button{
      @include boton-link;
      max-width: 100%;
      & span{
        position: absolute;
        right: 5%;
      }
    }
  }
}

.SpanUser{
  position: absolute;
  top: 45%;
  left: 10px;
  color: color(icons);
}
