extends ../template/modelo
append config
  -titulo = "SEMING | Nuestras Obras";
  - descripcion = "Somos una sociedad";

block header
 include ../bloques/header
block main
 include ../secciones/main-obras
block footer
 include ../bloques/footer
block script
  script(src="https://cdn.jsdelivr.net/npm/sweetalert2@8")
  script(src="js/obras.js")
