extends ../template/modelo
append config
  -titulo = "SEMING | Quienes somos";
  - descripcion = "Somos una sociedad";

block header
 include ../bloques/header
block main
 include ../secciones/main-somos
block footer
 include ../bloques/footer
block script
  script(src="js/somos.js")
