extends ../template/modelo
append config
  -titulo = "SEMING | Quienes somos";
  - descripcion = "Somos una sociedad";

block header
 include ../bloques/header
block main
 include ../bloques/main
block footer
 include ../bloques/footer
