//- Ejemplos

-let titulo = "SEMING";
-let url = "http://localhost:3000/";
//- -let url = "http://seming.cl/";

-
  let link = {
    inicio: url,
    nuestrasObras: url + "nuestras-obras.html",
    quienesSomos: url + "quienes-somos.html"
  }

//- sintaxis
//- - var saludo = "Hola mundo!"
//- asignación
//- p = saludo
//- //interpolación
//- p Soy un #{saludo}
