//- Ejemplos
//- -var currentPage = "inicio";
//- -var title = "Esfera Digital" 

//- sintaxis
//- - var saludo = "Hola mundo!"
//- asignación
//- p = saludo
//- //interpolación
//- p Soy un #{saludo}