block config
  include ../config/config

doctype
html(lang="es-cl")
  head
    title Modelo
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge, chrome=1")
    meta(name="description" content="Descripción breve")
    link(rel="shortcut icon" type="image/x-icon" href="img/favicon.png")
    //link(rel="stylesheet" href="css/fonts.css")
    link(rel="stylesheet" href="css/styles.css")
  body#body
    block header
    block main
    block footer
    block script
      script(src="js/global.min.js")
