header.Header#MainHeader
  section.Header-container
    div.Logo#Logo
      a(href=link.inicio)
        img(src="img/logo.png", alt="Logo-Seming")#LogoImg
    button(type="button" class="Panel-btn hamburger hamburger--elastic")
      span.hamburger-box
        span.hamburger-inner
    section.Panel
      nav.Menu
        ul
          li
            a(href=link.inicio) INICIO
          li
            a(href=link.nuestrasObras) NUESTRAS OBRAS
          li
            a(href=link.quienesSomos) QUIENES SOMOS
