// Paleta de colores

$colors:(
  background-header: #ffff,
  secondary: #FC0F2B,
  capa: #d4041d,
  capaT: #d4041c99,
  text: #555555,
  copy: rgba(31, 32, 65, 0.75),
  background-sociales: #262626,
  background-formulario: #f3f3f3,
  icons: #c7c7cf,
  text-footer: #575870,
	success: #60d394,
  alert: #fb3640,
  info: #FF570C,
	bg: #e5e5e5,
	bg-item: #ffffff,
	cta: #ff9f1c,
	logoA: #FF570C,
);
