// Reset tamaño de tipografias

 //Tamaños de fuentes

$font-root: em(16px);
$title: $font-root * 2;
$sub-title: $font-root * 1.7;
$big-title: $font-root * 3;

$icon: $font-root * 3.5;

$light: 300; //Ancho de fuente
$normal: 400; //Ancho de fuente
$bold: 600;


h1{font-size: 2rem;}
h2{font-size: 1.75rem;}
h3{font-size: 1.5rem;}
h4{font-size: 1.25rem;}

h5, a, abbr, b, code, dfn, em, i, li, mark, p, pre, strong{
  font-size: 1rem;
}

h6, small{font-size: .75rem;}

// Importar Tipografía

$fuente-titulos: 'Open Sans', sans-serif;
$fuente-especial: 'Anton', sans-serif;

html {
  font-family: $fuente-titulos;
  font-size: $font-root;
}

body{
  font-family: $fuente-titulos;
}

// Titulos

@mixin sub-titulos{
  font-family: $fuente-especial;
  font-style: normal;
  text-align: center;
  font-size: 20px;
  letter-spacing: .1rem;
  padding: 1rem 0;
  font-weight: 500;
  position: relative;
  z-index: capa(capa3);
  &:before{
    content: "";
    position: absolute;
    top: 50%;
    left: 5%;
    z-index: 1;
    width: 15%;
    height: 1px;
    background-color: #c4c4c4;
    @include mq(md){
      left: 0;
      width: 40%;
    }
  }
  &:after{
    content: "";
    position: absolute;
    top: 50%;
    right: 5%;
    z-index: 1;
    width: 15%;
    height: 1px;
    background-color: #c4c4c4;
    @include mq(md){
      right: 0;
      width: 40%;
    }
  }
}
