.Cont-form-map{
  // border: 2px solid red;
  display: grid;
  @include mq(md){
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr minmax(min-content, max-content);
  }
}

.Contactanos{
  background-color: color(background-sociales);
  color: white;
  @include mq(md){
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  &-container{
    // border: 1px solid red;
    width: 85%;
    margin: 2rem auto;
    @include mq(md){
      width: 70%;
    }
    & h4{
      padding: .5rem 0;
      font-family: $fuente-especial;
      font-style: normal;
      font-size: 20px;
      letter-spacing: .1rem;
      font-weight: 500;
      @include mq(mdl){
        font-size: 34px;
        padding: 0 0 1rem;
      }
    }
    & p{
      font-size: 14px;
      letter-spacing: 0.06rem;
      @include mq(mdl){
        font-size: 15px;
      }
    }
    & p:nth-child(odd){
      margin: 1.5rem auto;
      @include mq(mdl){
        margin: 1.5rem auto .5rem;
      }
    }
  }
}

.Contactanos-btn{
  // border: 1px solid red;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  & a{
    background-color: color(background-sociales);
    width: 48%;
    height: 2.5rem;
    max-width: 17rem;
    color: white;
    border: 1px solid white;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: .1rem;
    padding: .5rem;
    border-radius: 5rem;
    cursor: pointer;
    @include mq(md){
      height: 2.3rem;
    }
    @include mq(mdl){
      height: 2.7rem;
    }
    &:hover{
      background-color: #545454;
      border: 1px solid #545454;
    }
  }
}

.Habitissimo{
  background-image: img('habiti.svg');
  background-position: center 50%;
  background-size: 75%;
  background-repeat: no-repeat;
  @include mq(lgm){
    background-size: 65%;
  }
}

.Linkedin{
  background-image: img('ico-linkedin.png');
  background-position: center center;
  background-size: 50%;
  background-repeat: no-repeat;
}

.Formulario{
  // border: 1px solid red;
  background-color: color(background-formulario);
  padding: 2rem 0;
  @include mq(md){
    padding: 3rem 0;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  &-content{
    width: 85%;
    margin: auto;
    // border: 1px solid green;
    @include mq(md){
      width: 70%;
    }
  }
}

.Form{
  // border: 2px solid green;
  &-item{
    // border: 1px solid blue;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2,minmax(min-content, max-content));
    position: relative;
    & label{
      font-size: 12px;
      padding: 3px;
    }
    & input, textarea{
      border: transparent;
      border-radius: 3px;
      margin-bottom: .5rem;
      padding: .5rem;
      outline-color: color(text-footer);
    }
    & textarea{
      height: 8rem;
      margin-bottom: 1.2rem;
    }
    & button{
      @include boton-link;
      max-width: 100%;
      & span{
        position: absolute;
        right: 5%;
      }
    }
  }
  & h4{
    position: relative;
    top: -350vh;
    left: -71%;
    background-color: white;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    text-align: center;
    padding: 1rem 0;
    box-shadow: $shadow-blur;
    font-weight: 500;
    border: 1px solid #545454;
  }
}

// .Form-item:focus-within{
//   & .SpanUser{
//     color: transparent;
//   }
// }

.SpanUser{
  position: absolute;
  top: 45%;
  left: 10px;
  color: color(icons);
}

input[type=text]::placeholder{
  background-color: white;
  & .SpanUser{
    color: transparent;
  }
}

.Maps{
  @include mq(md){
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
}

.Mapa{
  position: relative;
  & a{
    display: block;
    & img{
      display: block;
    }
  }
  & .Link-mapa{
    position: absolute;
    display: block;
    color: color(text-footer);
    z-index: capa(capa1);
    text-align: center;
    width: 10rem;
    margin: auto;
    top: 45%;
    left: 0;
    right: 0;
    border-bottom: 1px solid color(text-footer);
  }
}

