.root{
  padding: 4rem 0;
  @include mq(lgm){
    padding: 6rem 0;
  }
  & h2{
    @include sub-titulos;
    --ancho: 27%;
    @include mq(md){
      --ancho: 32%;
    }
    @include mq(lgm){
      padding: 2.5rem 0;
      --ancho: 39%;
    }
    &:before{
      width: var(--ancho);
    }
    &:after{
      width: var(--ancho);
    }
  }
  &-item{
    // border: 2px solid blue;
    margin-bottom: 1rem;
    &-text{
      font-family: $fuente-especial;
      text-transform: uppercase;
      letter-spacing: .1rem;
      font-weight: 500;
      padding: 2rem 0;
      &-prox{
        width: 200px;
        margin-left: 5%;
        border: 1px solid red;
        text-align: center;
      }
    }
  }
}

.Gallery-obras{
  width: 100%;
  margin: auto;
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: 1fr;
  border: 2px solid green;
  @include mq(md){
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
  }
  @include mq(lgs){
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }
  @include mq(lgm){
    margin-top: 1rem;
  }
  &-item{
    cursor: pointer;
    position: relative;
    // border-bottom: 1px solid #c4c4c4;
    &:hover .Gallery-obras-item-text-hover{
      transform: scale3d(1,1,1);
    }
    &:hover .Gallery-obras-item-text{
      background-color: color(secondary);
      & p{
        color: white;
      }
    }
    &-img img{
      display: block;
    }
    &-text{
      position: relative;
      z-index: capa(capa3);
      text-align: center;
      padding: .5rem 0;
      border-bottom: 1px solid #c4c4c4;
      & p{
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.1rem;
        transition: all .5s;
        padding: .3rem 0;
        @include mq(md){
          font-size: 12px;
        }
        @include mq(lgs){
          font-size: 16px;
        }
      }
    }
  }
  &-item-text-hover{
    position: absolute;
    display: flex;
    width: 100%;
    z-index: 1;
    height: 93%;
    flex-wrap: wrap;
    align-content: center;
    background: color(capaT);
    transform: scale3d(1,0,1);
    transition: transform .5s;
    & li{
      width: 80%;
      margin: auto;
      color: white;
      // border: 1px solid blue;
    }
  }
}

.Lema-obras{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  &-banner{
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-row: 1 / 3;
    grid-column: 1;
    & img{
      display: block;
    }
  }
  &-text{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 1 / 3;
    grid-column: 1;
    background-color: color(capaT);
    & p{
      color: white;
      font-weight: bold;
      font-size: 9px;
      @include mq(md){
        font-size: 11px;
      }
      @include mq(lgs){
        font-size: 14px;
      }
    }
  }
}
